<app-toolbar></app-toolbar>
<div class="container">
  <div class="header">
    <div>
      <h1 class="title">
        <span class="black-text">TECHNICAL</span>
        <span class="yellow-text">REVIEW</span>
      </h1>
      <div class="underline"></div> <!-- Línea azul debajo del texto -->
    </div>
    <div class="button-container">
      <button class="redirect-button" (click)="redirectToMTC()">Technical Document</button>
    </div>
  </div>
  <div class="content">
    <p>
      La aplicación del Sello de Vehículo Certificado está disponible exclusivamente para los anuncios de tipo Premium o Destacado en la categoría de autos.
      La verificación es realizada por IBR PERU S.A. e incluye: la búsqueda de papeletas en ocho (08) ciudades del país (Lima, Callao, Trujillo, Cusco, Cajamarca,
      Piura, Ica y Arequipa), el estado de pago del impuesto vehicular, la revisión técnica vigente, el SOAT activo y el estado de inscripción del vehículo y sus
      asientos registrales en la Superintendencia Nacional de Registros Públicos (SUNARP). Además, se incluye una revisión mecánica, coordinada directamente por
      Car2Go S.A.C. con talleres especializados.
    </p>
  </div>
</div>
