<div class="edit-profile-container">
  <mat-card>
    <mat-card-title>EDIT MY PROFILE</mat-card-title>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Surnames</mat-label>
        <input matInput type="text" placeholder="Surnames">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Birthdate</mat-label>
        <input matInput type="date" placeholder="Birthdate">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Identity Document</mat-label>
        <input matInput type="text" placeholder="NID or Passport">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput type="text" placeholder="Address">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>PHOTO URL</mat-label>
        <input matInput type="url" placeholder="URL from the photo">
      </mat-form-field>

      <button mat-raised-button color="primary">SAVE</button>
    </form>
  </mat-card>
</div>
